In [1]:
from pyspark.sql import SparkSession

In [2]:
spark = SparkSession.builder.appName("DataCamp Online Retail").getOrCreate()
spark

In [15]:
df = spark.read.csv("OnlineRetail.csv", header=True, inferSchema=True, escape="\"")
df.show(5, 0)

+---------+---------+-----------------------------------+--------+--------------+---------+----------+--------------+
|InvoiceNo|StockCode|Description                        |Quantity|InvoiceDate   |UnitPrice|CustomerID|Country       |
+---------+---------+-----------------------------------+--------+--------------+---------+----------+--------------+
|536365   |85123A   |WHITE HANGING HEART T-LIGHT HOLDER |6       |12/1/2010 8:26|2.55     |17850     |United Kingdom|
|536365   |71053    |WHITE METAL LANTERN                |6       |12/1/2010 8:26|3.39     |17850     |United Kingdom|
|536365   |84406B   |CREAM CUPID HEARTS COAT HANGER     |8       |12/1/2010 8:26|2.75     |17850     |United Kingdom|
|536365   |84029G   |KNITTED UNION FLAG HOT WATER BOTTLE|6       |12/1/2010 8:26|3.39     |17850     |United Kingdom|
|536365   |84029E   |RED WOOLLY HOTTIE WHITE HEART.     |6       |12/1/2010 8:26|3.39     |17850     |United Kingdom|
+---------+---------+-----------------------------------+--------+--------------+---------+----------+--------------+
only showing top 5 rows

 ### Exploratory Data Analysis

In [17]:
### How many rows we have
df.count()

541909

In [18]:
# How many unique customers do we have?
df.select("CustomerID").distinct().count()

4373

In [19]:
### Find which country purchased more?
from pyspark.sql.functions import *
from pyspark.sql.types import *
count_distinct = df.groupBy("Country").agg(countDistinct("CustomerID").alias("country_count"))
count_distinct.show()

+------------------+-------------+
|           Country|country_count|
+------------------+-------------+
|            Sweden|            8|
|         Singapore|            1|
|           Germany|           95|
|               RSA|            1|
|            France|           87|
|            Greece|            4|
|European Community|            1|
|           Belgium|           25|
|           Finland|           12|
|             Malta|            2|
|       Unspecified|            4|
|             Italy|           15|
|              EIRE|            3|
|         Lithuania|            1|
|            Norway|           10|
|             Spain|           31|
|           Denmark|            9|
|         Hong Kong|            0|
|           Iceland|            1|
|            Israel|            4|
+------------------+-------------+
only showing top 20 rows

In [20]:
# Order the country that has a lot of purchases Descendent order
count_distinct.sort("country_count", ascending=[False]).show()

+---------------+-------------+
|        Country|country_count|
+---------------+-------------+
| United Kingdom|         3950|
|        Germany|           95|
|         France|           87|
|          Spain|           31|
|        Belgium|           25|
|    Switzerland|           21|
|       Portugal|           19|
|          Italy|           15|
|        Finland|           12|
|        Austria|           11|
|         Norway|           10|
|        Denmark|            9|
|Channel Islands|            9|
|      Australia|            9|
|    Netherlands|            9|
|         Sweden|            8|
|         Cyprus|            8|
|          Japan|            8|
|         Poland|            6|
|         Greece|            4|
+---------------+-------------+
only showing top 20 rows

In [21]:
df.groupBy("Country").agg(countDistinct("CustomerID").alias("country_count")).orderBy(desc('country_count')).show()

+---------------+-------------+
|        Country|country_count|
+---------------+-------------+
| United Kingdom|         3950|
|        Germany|           95|
|         France|           87|
|          Spain|           31|
|        Belgium|           25|
|    Switzerland|           21|
|       Portugal|           19|
|          Italy|           15|
|        Finland|           12|
|        Austria|           11|
|         Norway|           10|
|        Denmark|            9|
|Channel Islands|            9|
|      Australia|            9|
|    Netherlands|            9|
|         Sweden|            8|
|         Cyprus|            8|
|          Japan|            8|
|         Poland|            6|
|         Greece|            4|
+---------------+-------------+
only showing top 20 rows

In [22]:
## Find when the most recent purchased was made on the platform?
spark.sql("set spark.sql.legacy.timeParserPolicy=LEGACY") # 12/1/2010 8:26
df = df.withColumn('date',to_timestamp("InvoiceDate", 'MM/dd/yyyy HH:mm'))
df.select(max("date")).show()

+-------------------+
|          max(date)|
+-------------------+
|2011-12-09 12:50:00|
+-------------------+

In [23]:
# Find the earliest purchased done by the customer?
df.select(min("date")).show()

+-------------------+
|          min(date)|
+-------------------+
|2010-12-01 08:26:00|
+-------------------+

## Data Pre-Processing

In [24]:
df.show(5,0)

+---------+---------+-----------------------------------+--------+--------------+---------+----------+--------------+-------------------+-------------------+
|InvoiceNo|StockCode|Description                        |Quantity|InvoiceDate   |UnitPrice|CustomerID|Country       |from_date          |date               |
+---------+---------+-----------------------------------+--------+--------------+---------+----------+--------------+-------------------+-------------------+
|536365   |85123A   |WHITE HANGING HEART T-LIGHT HOLDER |6       |12/1/2010 8:26|2.55     |17850     |United Kingdom|2010-12-01 08:26:00|2010-12-01 08:26:00|
|536365   |71053    |WHITE METAL LANTERN                |6       |12/1/2010 8:26|3.39     |17850     |United Kingdom|2010-12-01 08:26:00|2010-12-01 08:26:00|
|536365   |84406B   |CREAM CUPID HEARTS COAT HANGER     |8       |12/1/2010 8:26|2.75     |17850     |United Kingdom|2010-12-01 08:26:00|2010-12-01 08:26:00|
|536365   |84029G   |KNITTED UNION FLAG HOT WATER BOTTLE|6       |12/1/2010 8:26|3.39     |17850     |United Kingdom|2010-12-01 08:26:00|2010-12-01 08:26:00|
|536365   |84029E   |RED WOOLLY HOTTIE WHITE HEART.     |6       |12/1/2010 8:26|3.39     |17850     |United Kingdom|2010-12-01 08:26:00|2010-12-01 08:26:00|
+---------+---------+-----------------------------------+--------+--------------+---------+----------+--------------+-------------------+-------------------+
only showing top 5 rows

In [25]:
# We have two factors needs to be take in consideration:
# 1- Recency: The most recent purchases done.
# ---> Assign a recency score to each customer
# 2-

In [30]:
df = df.withColumn("from_date", lit("12/1/2010 08:26"))
df = df.withColumn("from_date", to_timestamp("from_date", "MM/dd/yyyy HH:mm"))
df2 = df.withColumn("from_date", to_timestamp(col("from_date"))).withColumn("recency", col("date").cast("long") - col("from_date").cast("long"))

df2.show(5, 0)

+---------+---------+-----------------------------------+--------+--------------+---------+----------+--------------+-------------------+-------------------+-------+
|InvoiceNo|StockCode|Description                        |Quantity|InvoiceDate   |UnitPrice|CustomerID|Country       |from_date          |date               |recency|
+---------+---------+-----------------------------------+--------+--------------+---------+----------+--------------+-------------------+-------------------+-------+
|536365   |85123A   |WHITE HANGING HEART T-LIGHT HOLDER |6       |12/1/2010 8:26|2.55     |17850     |United Kingdom|2010-12-01 08:26:00|2010-12-01 08:26:00|0      |
|536365   |71053    |WHITE METAL LANTERN                |6       |12/1/2010 8:26|3.39     |17850     |United Kingdom|2010-12-01 08:26:00|2010-12-01 08:26:00|0      |
|536365   |84406B   |CREAM CUPID HEARTS COAT HANGER     |8       |12/1/2010 8:26|2.75     |17850     |United Kingdom|2010-12-01 08:26:00|2010-12-01 08:26:00|0      |
|536365   |84029G   |KNITTED UNION FLAG HOT WATER BOTTLE|6       |12/1/2010 8:26|3.39     |17850     |United Kingdom|2010-12-01 08:26:00|2010-12-01 08:26:00|0      |
|536365   |84029E   |RED WOOLLY HOTTIE WHITE HEART.     |6       |12/1/2010 8:26|3.39     |17850     |United Kingdom|2010-12-01 08:26:00|2010-12-01 08:26:00|0      |
+---------+---------+-----------------------------------+--------+--------------+---------+----------+--------------+-------------------+-------------------+-------+
only showing top 5 rows

### 1- Select the most recent purchase

In [31]:
df2 = df2.join(df2.groupBy("CustomerID").agg(max("recency").alias("recency")), on="recency", how="leftsemi")
df2.show(5, 3)

+-------+---------+---------+-----------+--------+-----------+---------+----------+-------+---------+----+
|recency|InvoiceNo|StockCode|Description|Quantity|InvoiceDate|UnitPrice|CustomerID|Country|from_date|date|
+-------+---------+---------+-----------+--------+-----------+---------+----------+-------+---------+----+
|    522|      536|      824|        WOO|       3|        12/|      6.4|       180|    Uni|      201| 201|
|    522|      536|      847|        COL|      48|        12/|      0.6|       180|    Uni|      201| 201|
|    522|      536|      224|        HAN|      12|        12/|      1.6|       180|    Uni|      201| 201|
|    522|      536|      213|        HAN|       6|        12/|      2.9|       180|    Uni|      201| 201|
|    522|      536|      224|        NAT|      12|        12/|      2.9|       180|    Uni|      201| 201|
+-------+---------+---------+-----------+--------+-----------+---------+----------+-------+---------+----+
only showing top 5 rows

In [32]:
df2.printSchema()

root
 |-- recency: long (nullable = true)
 |-- InvoiceNo: string (nullable = true)
 |-- StockCode: string (nullable = true)
 |-- Description: string (nullable = true)
 |-- Quantity: integer (nullable = true)
 |-- InvoiceDate: string (nullable = true)
 |-- UnitPrice: double (nullable = true)
 |-- CustomerID: integer (nullable = true)
 |-- Country: string (nullable = true)
 |-- from_date: timestamp (nullable = true)
 |-- date: timestamp (nullable = true)

### 2- Calculate the frequency

In [37]:
def_freq = df2.groupBy("CustomerID").agg(count("InvoiceDate").alias("frequency"))
def_freq.show(5,0)

+----------+---------+
|CustomerID|frequency|
+----------+---------+
|15447     |9        |
|15100     |1        |
|13898     |12       |
|17950     |33       |
|16565     |3        |
+----------+---------+
only showing top 5 rows

In [40]:
df3 = df2.join(def_freq, on="CustomerID", how="inner")
df3.show(5,0)

+----------+-------+---------+---------+-----------------------------------+--------+--------------+---------+--------------+-------------------+-------------------+---------+
|CustomerID|recency|InvoiceNo|StockCode|Description                        |Quantity|InvoiceDate   |UnitPrice|Country       |from_date          |date               |frequency|
+----------+-------+---------+---------+-----------------------------------+--------+--------------+---------+--------------+-------------------+-------------------+---------+
|18074     |5220   |536384   |82484    |WOOD BLACK BOARD ANT WHITE FINISH  |3       |12/1/2010 9:53|6.45     |United Kingdom|2010-12-01 08:26:00|2010-12-01 09:53:00|13       |
|18074     |5220   |536384   |84755    |COLOUR GLASS T-LIGHT HOLDER HANGING|48      |12/1/2010 9:53|0.65     |United Kingdom|2010-12-01 08:26:00|2010-12-01 09:53:00|13       |
|18074     |5220   |536384   |22464    |HANGING METAL HEART LANTERN        |12      |12/1/2010 9:53|1.65     |United Kingdom|2010-12-01 08:26:00|2010-12-01 09:53:00|13       |
|18074     |5220   |536384   |21324    |HANGING MEDINA LANTERN SMALL       |6       |12/1/2010 9:53|2.95     |United Kingdom|2010-12-01 08:26:00|2010-12-01 09:53:00|13       |
|18074     |5220   |536384   |22457    |NATURAL SLATE HEART CHALKBOARD     |12      |12/1/2010 9:53|2.95     |United Kingdom|2010-12-01 08:26:00|2010-12-01 09:53:00|13       |
+----------+-------+---------+---------+-----------------------------------+--------+--------------+---------+--------------+-------------------+-------------------+---------+
only showing top 5 rows

In [41]:
df3.printSchema()

root
 |-- CustomerID: integer (nullable = true)
 |-- recency: long (nullable = true)
 |-- InvoiceNo: string (nullable = true)
 |-- StockCode: string (nullable = true)
 |-- Description: string (nullable = true)
 |-- Quantity: integer (nullable = true)
 |-- InvoiceDate: string (nullable = true)
 |-- UnitPrice: double (nullable = true)
 |-- Country: string (nullable = true)
 |-- from_date: timestamp (nullable = true)
 |-- date: timestamp (nullable = true)
 |-- frequency: long (nullable = false)

### 3- Monetary Value

In [45]:
## Calculate the total amount spent per customer
## Two Steps:
# 1- found the total amount spent in each purchase

In [44]:
m_val = df3.withColumn("TotalAmount", col("Quantity") * col("UnitPrice"))
m_val.show(5, 0)

+----------+-------+---------+---------+-----------------------------------+--------+--------------+---------+--------------+-------------------+-------------------+---------+------------------+
|CustomerID|recency|InvoiceNo|StockCode|Description                        |Quantity|InvoiceDate   |UnitPrice|Country       |from_date          |date               |frequency|TotalAmount       |
+----------+-------+---------+---------+-----------------------------------+--------+--------------+---------+--------------+-------------------+-------------------+---------+------------------+
|18074     |5220   |536384   |82484    |WOOD BLACK BOARD ANT WHITE FINISH  |3       |12/1/2010 9:53|6.45     |United Kingdom|2010-12-01 08:26:00|2010-12-01 09:53:00|13       |19.35             |
|18074     |5220   |536384   |84755    |COLOUR GLASS T-LIGHT HOLDER HANGING|48      |12/1/2010 9:53|0.65     |United Kingdom|2010-12-01 08:26:00|2010-12-01 09:53:00|13       |31.200000000000003|
|18074     |5220   |536384   |22464    |HANGING METAL HEART LANTERN        |12      |12/1/2010 9:53|1.65     |United Kingdom|2010-12-01 08:26:00|2010-12-01 09:53:00|13       |19.799999999999997|
|18074     |5220   |536384   |21324    |HANGING MEDINA LANTERN SMALL       |6       |12/1/2010 9:53|2.95     |United Kingdom|2010-12-01 08:26:00|2010-12-01 09:53:00|13       |17.700000000000003|
|18074     |5220   |536384   |22457    |NATURAL SLATE HEART CHALKBOARD     |12      |12/1/2010 9:53|2.95     |United Kingdom|2010-12-01 08:26:00|2010-12-01 09:53:00|13       |35.400000000000006|
+----------+-------+---------+---------+-----------------------------------+--------+--------------+---------+--------------+-------------------+-------------------+---------+------------------+
only showing top 5 rows

In [46]:
# 2- find the total amount spent by each customer
m_val = m_val.groupBy("CustomerID").agg(sum("TotalAmount").alias("monetry_value"))
m_val.show(5,0)

+----------+-------------------+
|CustomerID|monetry_value      |
+----------+-------------------+
|15447     |155.17             |
|15100     |-32.849999999999994|
|13898     |155.93             |
|17950     |208.95             |
|16565     |173.7              |
+----------+-------------------+
only showing top 5 rows

In [62]:
# Merge the tow dataframes
final_df = m_val.join(df3, on="CustomerID", how="inner")
final_df.show(5,0)

+----------+-------------+-------+---------+---------+-----------------------------------+--------+--------------+---------+--------------+-------------------+-------------------+---------+
|CustomerID|monetry_value|recency|InvoiceNo|StockCode|Description                        |Quantity|InvoiceDate   |UnitPrice|Country       |from_date          |date               |frequency|
+----------+-------------+-------+---------+---------+-----------------------------------+--------+--------------+---------+--------------+-------------------+-------------------+---------+
|18074     |489.6        |5220   |536384   |82484    |WOOD BLACK BOARD ANT WHITE FINISH  |3       |12/1/2010 9:53|6.45     |United Kingdom|2010-12-01 08:26:00|2010-12-01 09:53:00|13       |
|18074     |489.6        |5220   |536384   |84755    |COLOUR GLASS T-LIGHT HOLDER HANGING|48      |12/1/2010 9:53|0.65     |United Kingdom|2010-12-01 08:26:00|2010-12-01 09:53:00|13       |
|18074     |489.6        |5220   |536384   |22464    |HANGING METAL HEART LANTERN        |12      |12/1/2010 9:53|1.65     |United Kingdom|2010-12-01 08:26:00|2010-12-01 09:53:00|13       |
|18074     |489.6        |5220   |536384   |21324    |HANGING MEDINA LANTERN SMALL       |6       |12/1/2010 9:53|2.95     |United Kingdom|2010-12-01 08:26:00|2010-12-01 09:53:00|13       |
|18074     |489.6        |5220   |536384   |22457    |NATURAL SLATE HEART CHALKBOARD     |12      |12/1/2010 9:53|2.95     |United Kingdom|2010-12-01 08:26:00|2010-12-01 09:53:00|13       |
+----------+-------------+-------+---------+---------+-----------------------------------+--------+--------------+---------+--------------+-------------------+-------------------+---------+
only showing top 5 rows

In [63]:
# Select the necessery columns to build the column

In [64]:
final_df = final_df.select(['recency','frequency','monetry_value','CustomerID']).distinct()

In [65]:
# Standarization the dataframe
from pyspark.ml.feature import VectorAssembler
from pyspark.ml.feature import StandardScaler

In [68]:
assembler = VectorAssembler(inputCols=["recency","frequency","monetry_value"], outputCol="features")
assembled_data = assembler.transform(final_df)
assembled_data.show()

+-------+---------+-------------------+----------+--------------------+
|recency|frequency|      monetry_value|CustomerID|            features|
+-------+---------+-------------------+----------+--------------------+
|3726000|        9|             155.17|     15447|[3726000.0,9.0,15...|
|3746580|        1|-32.849999999999994|     15100|[3746580.0,1.0,-3...|
|4154520|       12|             155.93|     13898|[4154520.0,12.0,1...|
| 716280|       33|             208.95|     17950|[716280.0,33.0,20...|
| 802500|        3|              173.7|     16565|[802500.0,3.0,173.7]|
|  97020|        1|              106.2|     15070| [97020.0,1.0,106.2]|
| 105180|       13| 248.10000000000002|     16510|[105180.0,13.0,24...|
| 621720|        5|             403.25|     15221|[621720.0,5.0,403...|
|1222740|        9| 422.70000000000005|     17525|[1222740.0,9.0,42...|
| 184560|        3|              39.75|     14589|[184560.0,3.0,39.75]|
|  25740|       67| 357.94999999999993|     16274|[25740.0,67.0,357...|
| 544920|       13|             289.35|     16125|[544920.0,13.0,28...|
|3739860|       20| 386.04999999999995|     18085|[3739860.0,20.0,3...|
| 784500|       65|            1441.73|     16265|[784500.0,65.0,14...|
| 959460|       70| 147.09000000000003|     15503|[959460.0,70.0,14...|
|4416780|       30| 125.13000000000004|     17890|[4416780.0,30.0,1...|
| 100200|       21| 127.08000000000003|     15923|[100200.0,21.0,12...|
|  25740|       19|             538.81|     14496|[25740.0,19.0,538...|
| 199140|       24| 427.79999999999995|     12725|[199140.0,24.0,42...|
| 446700|        1|  76.32000000000001|     18113|[446700.0,1.0,76....|
+-------+---------+-------------------+----------+--------------------+
only showing top 20 rows

In [69]:
scale = StandardScaler(inputCol='features', outputCol="standarized")
data_scale = scale.fit(assembled_data)
data_scale_output = data_scale.transform(assembled_data)
data_scale_output.show()

+-------+---------+-------------------+----------+--------------------+--------------------+
|recency|frequency|      monetry_value|CustomerID|            features|         standarized|
+-------+---------+-------------------+----------+--------------------+--------------------+
|3726000|        9|             155.17|     15447|[3726000.0,9.0,15...|[0.42717941487700...|
|3746580|        1|-32.849999999999994|     15100|[3746580.0,1.0,-3...|[0.42953887605740...|
|4154520|       12|             155.93|     13898|[4154520.0,12.0,1...|[0.47630848703564...|
| 716280|       33|             208.95|     17950|[716280.0,33.0,20...|[0.08212025531081...|
| 802500|        3|              173.7|     16565|[802500.0,3.0,173.7]|[0.09200522824444...|
|  97020|        1|              106.2|     15070| [97020.0,1.0,106.2]|[0.01112317413616...|
| 105180|       13| 248.10000000000002|     16510|[105180.0,13.0,24...|[0.01205870393364...|
| 621720|        5|             403.25|     15221|[621720.0,5.0,403...|[0.07127911589300...|
|1222740|        9| 422.70000000000005|     17525|[1222740.0,9.0,42...|[0.14018501281446...|
| 184560|        3|              39.75|     14589|[184560.0,3.0,39.75]|[0.02115948277232...|
|  25740|       67| 357.94999999999993|     16274|[25740.0,67.0,357...|[0.00295104619939...|
| 544920|       13|             289.35|     16125|[544920.0,13.0,28...|[0.06247412956381...|
|3739860|       20| 386.04999999999995|     18085|[3739860.0,20.0,3...|[0.42876843975360...|
| 784500|       65|            1441.73|     16265|[784500.0,65.0,14...|[0.08994155957354...|
| 959460|       70| 147.09000000000003|     15503|[959460.0,70.0,14...|[0.11000041905472...|
|4416780|       30| 125.13000000000004|     17890|[4416780.0,30.0,1...|[0.50637613957071...|
| 100200|       21| 127.08000000000003|     15923|[100200.0,21.0,12...|[0.01148775560136...|
|  25740|       19|             538.81|     14496|[25740.0,19.0,538...|[0.00295104619939...|
| 199140|       24| 427.79999999999995|     12725|[199140.0,24.0,42...|[0.02283105439576...|
| 446700|        1|  76.32000000000001|     18113|[446700.0,1.0,76....|[0.05121337751625...|
+-------+---------+-------------------+----------+--------------------+--------------------+
only showing top 20 rows

In [ ]:
### These data presented will be fitted to the clustering algorithm

In [70]:
data_scale_output.select("standarized").show(2, truncate=False)

+---------------------------------------------------------------+
|standarized                                                    |
+---------------------------------------------------------------+
|[0.42717941487700695,0.23237755599332738,0.0555092310302321]   |
|[0.4295388760574065,0.025819728443703043,-0.011751487010009179]|
+---------------------------------------------------------------+
only showing top 2 rows

### Building the ML Algorithm

In [73]:
"""The most important thing in this classification algorithm
is to determin how many clusters we need to use, and for this
we can use the "Elbow-Method"""

'The most important thing in this classification algorithm\nis to determin how many clusters we need to use, and for this\nwe can use the "Elbow-Method'

In [74]:
from pyspark.ml.clustering import KMeans
from pyspark.ml.evaluation import ClusteringEvaluator
import numpy as np

In [77]:
cost = np.zeros(10)
evaluator = ClusteringEvaluator(predictionCol='prediction', 
                               featuresCol='standarized',
                                metricName="silhouette",
                                distanceMeasure="squareEucliden"
                               )

In [ ]:
for i in range(2,10):
    KMeans_algo = KMeans(featuresCol='standarized', k=i)
    KMeans_fit = KMeans_algo.fit(data_scale_output)
    output= KMeans_fit.transform(data_scale_output)
    cost[i] = KMeans_fit.summary.trainingCost

In [ ]:
cost